.title{
    text-transform: uppercase;
    font-weight: 600;
}

header{
    background-color: #2C3E50;
}

header .navbar{
    text-transform: uppercase;
    font-weight: 600;
}

header .navbar a {
    color: #fff;
}

header #navbarNav{
    flex-grow: 0;
}

.jumbotron{
    background-color: #1ABC9C;
}

.jumbotron-img{
    width: 300px;
}

.jumbo-info{
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}

.portfolio-title{
    text-transform: uppercase;
    font-weight: 500;
}

.about{
    background-color: #1ABC9C;
    color: #fff;
}

#contactme .form-control{
    padding-left: 0;
    border-radius: 0;
    border-width: 0 0 1px 0;
}

#contactme .form-control::placeholder{
    color: rgb(33, 37, 41);
    font-weight: 500;
}

.info{
    background-color: #3A546D;
    color: #fff;
}

.info-title{
    text-transform: uppercase;    
}

.social-icon{
    display: block;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 50%;
}

footer{
    height: 80px;
    background-color: #2C3E50;
    color: #fff;
}