header{
    height: 100px;
    background-color: #2C3E50;
}

[class^= "col"]{
    border: 1px dashed black;
}

.jumbotron{
    height: 500px;
    background-color: #1ABC9C;
}

.box-jumbo{
    height: 100%;
    border: 1px dashed black;
}

.portfoglio-block{
    height: 300px;
    border: 1px dashed red;
}

.about{
    background-color: #1ABC9C;
}

.about-block{
    height: 200px;
}